<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .card{
            display: flex;
            padding: 10px;
            border-radius: 15px;
            background-color: #d0fff7;
            margin: 30px;
        }
        h1{
            text-align: center;
        }
        .wrapper{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="navbar :: navbar">...</div>
<div class="wrapper">
    <h1>Vesti</h1>

    <table class="table table-sm table-dark" style="width: 50vw; margin: auto; visibility: hidden; ">
        <thead>
        <tr >
            <th scope="col" >Testirani</th>
            <th scope="col">Zarazeni</th>
            <th scope="col">Hospitalizovani</th>
            <th scope="col">Na respiratoru</th>
            <th scope="col">Svi zarazeni</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${tested}"></td>
            <td th:text="${infected}"></td>
            <td th:text="${hospitalized}"></td>
            <td th:text="${respirator}"></td>
            <td th:text="${allinf}"></td>

        </tr>

        </tbody>
    </table>
    <div class="cards"  th:each="news : ${allNews}" >
        <div class="card" style="width: 400px;">
            <h2 th:text="${news.name}"></h2>
            <p th:text="${news.content}"></p>
            <p th:text="${news.date}"></p>
        </div>
    </div>
    <a th:href="@{'/loginn'}" class="btn btn-primary btn-lg " role="button" aria-disabled="true" style="margin: 10px;" >Login</a>
    <a th:href="@{'/user/new'}" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Registracija</a>
</div>

</body>
</html>