<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<div th:include="navbar :: navbar">...</div>
<div th:if="${error}" class="alert alert-danger">
  <p th:text="${error}">Pogresan email ili lozinka</p>
</div>
<form th:action="@{/loginn/save}" method="post" style="width: 40vw; margin: auto; padding-top:200px">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unesite email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="" th:href="@{/user/new}" class="btn btn-primary btn-lg " style=" margin-left: 30vw; margin-top: 10px;" role="button"  >Registracija</a>
</html>