<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Veesti</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="navbar :: navbar">...</div>
<table class="table table-sm table-dark" style="width: 50vw; margin: auto;">
  <thead>
  <tr >
    <th scope="col" >Id</th>
    <th scope="col">Ime</th>
    <th scope="col">Drzava</th>
    <th scope="col">Kontrola</th>
    <th scope="col">Upravljanje</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="news : ${allNews}">
    <td th:text="${news.id}"></td>
    <td th:text="${news.naziv}"></td>
    <td th:text="${news.sadrzaj}"></td>
    <td th:text="${news.datumIVremeObjavljivanja}"></td>

    <td>
      <a th:href="@{'/news/edit/' + ${news.id}}" class="btn btn-primary btn-lg " role="button" aria-disabled="true" >Edit</a>
      <a th:href="@{'/news/delete/' + ${news.id}}" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Delete</a>
    </td>
  </tr>
  <a th:href="@{'/news/new'}" style="margin: 50px" class="btn btn-primary btn-lg " role="button" aria-disabled="true" >Nove Vesti</a>

  </tbody>
</table>
</body>
</html>