<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nova Vakcina</title>
</head>
<body>
<h1>Nova Vakcina</h1>
<form th:action="@{/vaccine/save}" th:object="${vaccine}" method="post">
  <div>
    <label for="naziv">Naziv:</label>
    <input type="text" id="naziv" th:field="*{ime}" placeholder="Naziv" />
  </div>
  <div>
    <label for="dostupnaKolicina">Dostupna Količina:</label>
    <input type="text" id="dostupnaKolicina" th:field="*{dostupnaKolicina}" placeholder="Dostupna Količina" />
  </div>
  <div>
    <label for="proizvodjacId">Proizvođač vakcine:</label>
    <select id="proizvodjacId" th:field="*{proizvodjacVakcine}">
      <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
              th:text="${manufacturer.ime}"></option>
    </select>
  </div>
  <div>
    <button type="submit">Sačuvaj</button>
  </div>
</form>
</body>
</html>
