<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<div th:include="navbar :: navbar">...</div>
<div style = "display: flex; justify-content: center; width: 60vw;flex-direction: row;">
    <div th:style="'visibility:' + ${adminstyle}">
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/vaccinetable}" role="button">Lista Vakcina</a>
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/user}" role="button">Pregled i Dodavanje Korisnika</a>
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/manufacturer}" role="button">Pregled i Dodoavanje Proizvodjaca</a>
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/vaccine}" role="button">Pregled i Dodoavanje Vakcina</a>
        <a class="btn btn-primary"style="margin-top: 20px;"  th:href="@{/news}" role="button">Pregled i Dodoavanje Vesti</a>
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/infected}" role="button">Pregled i Dodoavanje Danasnjih vesti o zarazenima</a>
        <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/user/edit}" role="button">Pregled Profila</a>
    </div>
</div>

<div style = "display: flex;justify-content: center;">
    <div th:style="'visibility:' + ${employeestyle}">
        <a class="btn btn-primary" th:href="@{/vaccinetable}" role="button">Lista Vakcina</a>
        <a class="btn btn-primary" th:href="@{/vaccination}" role="button">Vakcinacija</a>
        <a class="btn btn-primary" th:href="@{/user/edit}" role="button">Pregled Profila</a>
    </div>
</div>

<div th:style="'visibility:' + ${patientestyle}">
    <a class="btn btn-primary" th:href="@{/application/new}" role="button">Nova Aplikacija</a>
    <a class="btn btn-primary" th:href="@{/user/edit}" role="button">Pregled Profila</a>
</div>

</body>
</html>