<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Vakcine</title>
</head>
<body>
<h1>Vakcine</h1>
<table>
  <thead>
  <tr>
    <th scope="col" >Id</th>
    <th scope="col">Ime</th>
    <th scope="col">Dostupnost</th>
    <th scope="col">Proizvodjac</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vaccine : ${allVaccines}">
    <td th:text="${vaccine.id}"></td>
    <td th:text="${vaccine.ime}"></td>
    <td th:text="${vaccine.dostupnaKolicina}"></td>
    <td th:text="${vaccine.getProizvodjacVakcine().getIme()}"></td>
    <td><a th:href="@{/vaccine/edit/{id}(id=${vaccine.id})}">Edit</a></td>
    <td><a th:href="@{/vaccine/delete/{id}(id=${vaccine.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/vaccine/nova}">Dodaj novu vakcinu</a>
</body>
</html>